
<h3 class="booklabels textBackground">
    Hello, this is the Admin page. <br/><br />
    You should only be seeing this if you are logged in as an Administrator. <br /><br />
    Functionality for the Administration of Users, Books & Loans will be added soon.
</h3>

