
<form asp-controller="Search" asp-action="SearchList" method="POST">
    <div class="searchMenu col-12" style="font-weight: bold; font-size: 18px">
        Search by:
        <select id="scope" name="scope" size="1">
            <option value="title" selected>Title</option>
            <option value="author">Author</option>
            <option value="description">Description</option>
            <option value="all">All</option>
        </select>
        Search term:
        <input type="text" id="searchTerm" name="searchTerm" />
        <input type="hidden" id="Ctrl" name="Ctrl" value=@ViewData["Ctrl"].ToString()>
        <input type="hidden" id="Act1" name="Act1" value=@ViewData["Act1"].ToString()>
        <input type="hidden" id="Act2" name="Act2" value=@ViewData["Act2"].ToString()>
        <button type="submit" style="display: inline; background-color: #90EE90"; value="search">Search</button>
    </div>
</form>




 

