@model Bell.ViewModels.Peruse.PeruseListViewModel

<div class="container-fluid col-12">
    <div class="backgroundWhite border border-secondary rounded figure-img">
        @await Html.PartialAsync("SearchBooks",
            new ViewDataDictionary(ViewData) {{"Ctrl", "Peruse"}, {"Act1", "PeruseList"}, { "Act2", "PeruseDetails"}} )
    </div>
</div>

@foreach (var localBook in Model.BooksWithAvailabilities)
{
    <div class="container-fluid col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="backgroundWhite border border-secondary rounded figure-img">

     @await Html.PartialAsync("BookInformation", localBook.Book,
        new ViewDataDictionary(ViewData) {{"Ctrl", "Peruse"}, {"Act1", "PeruseList"}, {"Act2", "PeruseDetails"}} )
   
            
    @{ var bookAvailable = localBook.Available;}
         @if (bookAvailable == true)
         { <h6 class="booklabels" style="display: inline; background-color: #90EE90;">Available</h6> }
         else 
         { <h6 class="booklabels" style="display: inline; background-color: #f17f84;">Out On Loan</h6> }
        </div>
    </div>
}



